.footer {
    margin: 30px -30px 0 -30px;
    background-color: rgb(41, 41, 41);
    padding: 30px;
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer--icon--container {
    display: flex;
    justify-content: space-between;
}

.footer--icon--container i {
    background-color: white;
    color: rgb(41, 41, 41);
    border-radius: 50%;
    margin: 0 10px;
    padding: 15px 25px;
    opacity: 0.9;
    transition: opacity 0.5s;
}

.footer--icon--container i:hover {
    opacity: 0.5;
}